/* // following addresses background layout */
#bg {
  position: fixed;
  top: 50;
  left: 0;
}
.bgwidth {
  width: 100%;
}
.bgheight {
  height: 100%;
}
body {
  background-color: black;
}
/* // following addresses about page layout */
.col-12 {
  text-align: left;
  color: white;
  margin-top: 600px;
  margin-left: 92px;
}
.col-9 {
  align-content: center;
  margin-top: 0px;
  margin-left: 60px;
}

/* // following makes pictures on about page responsive */
.bio-pict {
  width: 100%;
  height: auto;
}
.resume-pict {
  width: 75%;
  height: auto;
  margin-left: 35px;
}

/* // following addresses form layout */
.form-container {
  align-content: center;
  max-width: 1000px;
  margin-top: 60px;
  margin-left: 60px;
  opacity: 90%;
}

.form-row {
  padding: 15px;
}

.form-group {
  color: white;
  opacity: 80%;
}
.btn-info {
  opacity: 90%;
  margin-left: 60px;
  padding: 5px;
}
/* // following addresses container layout */
.container {
  align-content: center;
  margin-top: 60px;
  opacity: 88%;
}
/* // following addresses portfolio card layout */
.card-title {
  font-weight: bold;
}
.jumbotron {
  background-color: white;
  opacity: 85%;
  font-weight: bolder;
}
.lead {
  font-weight: bold;
  color: rgb(5, 60, 170);
}
h6 {
  color: grey;
  text-align: center;
}
